@import '@styles/consts.scss';

.geo-coord-control {
  display: flex;
  font-size: 12px;
  align-items: center;
  position: relative;
}

.deg-input,
.min-input,
.sec-input {
  font-size: 12px;
  border: none;
  border-bottom: 2px solid gray;
  margin-left: 0.4em;
}

.is-invalid {  
  .deg-input,
  .min-input,
  .sec-input {
    border-color: $error-color;
  }
}

.is-valid {  
  .deg-input,
  .min-input,
  .sec-input {
    border-color: $valid-color;
  }
}

.deg-input {
  width: 40px;
}

.min-input {
  width: 30px;
}

.sec-input {
  width: 60px;
}

.error {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 0;
  top: 100%;
}