[submodule "micelord-client"]
	path = micelord-client
	url = https://github.com/cyrstron/micelord-client.git
[submodule "micelord-server"]
	path = micelord-server
	url = https://github.com/cyrstron/micelord-server.git
[submodule "micelord-grider"]
	path = micelord-grider
	url = https://github.com/cyrstron/micelord-grider.git
[submodule "react-google-maps"]
	path = react-google-maps
	url = https://github.com/cyrstron/react-google-maps.git
