.input-wrapper {
  position: relative;
  display: block;

  &::before {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 20px;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
  }
}

.input {
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  padding-right: 20px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 5px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #4444ee66;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.label {
  width: 100%;
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 13px;
}

.error {
  width: 100%;
  display: block;
}

.is-pending,
.is-invalid,
.is-valid {
  .input-wrapper::before {
    display: block;
  } 
} 

.is-invalid {  
  .input {
    border-color: red;
  }

  .input-wrapper::before {
    color: red;
    content: '✘';
  }
}

.is-valid {
  .input {
    border-color: green;
  }
  
  .input-wrapper::before {
    color: green;
    content: '✔';
  }
}

.is-pending .input-wrapper::before {
  color: #555;
  content: '…';
}