@import '@styles/consts.scss';

$icon-padding: 5px;
$icon-size: $header-height - ($icon-padding * 2);

.user-container {
  display: flex;
  align-items: stretch;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.user-desc {
  font-size: 14px;
}

.user-icon {
  display: block;
  height: $icon-size;
  width: $icon-size;
  padding: $icon-padding;
}

.sign-out-btn {
  padding: 2px 5px;
  font-size: 10px;
}