.geo-point {
  display: flex;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #ddd;

  &.is-invalid {    
    background-color: #b33;
    color: #fff;
  }
}

.coord {
  width: 50%;
}