@import '../../styles/mixins/button.scss';
@import '../../styles/consts.scss';

.btn {  
  @include button($default-btn-color);
  
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;
}